.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-background-color: #ddd4;
    -fx-border-color: #4445;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
}